<%- include('./stylesheet') %>
<body>
    <%- include('./header') %> 
    <h1>
        <a href="./question1"> question 1</a>
        <a href="./question2"> question 2</a>
        <a href="./question3"> question 3</a>
        <a href="./question4"> question 4</a>
        <a href="./question5"> question 5</a>
        <a href="./question6"> question 6</a>
        <a href="./question7"> question 7</a>
        <a href="./question8"> question 8</a>
        <a href="./question9"> question 9</a>
        <a href="./question10"> question 10</a>
    </h1>
</body>