<%- include('./stylesheet') %>
<body>
    <%- include('./header') %> 
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/1') %>
            <div class='box answer'>
                <h3>Answer</h3>
                WHOA KENNY
                
            </div>
        </div>
    </div>
</body>